# Results of studies
results/*

# Jupyter Notebook
.ipynb_checkpoints/*

# Emacs
*~

# Study products.
datasets-builder.jar

scikit-learn
scikit-learn/*
keras
keras/*
theano
theano/*

*.html
study-results/*